django
djangorestframework
django-cors-headers
python-dotenv
langchain
langchain-community
langchain-ollama
langchain-text-splitters
faiss-cpu
flashrank
rank_bm25
beautifulsoup4
lxml
requests
markdown
rich
ragas
datasets
pandas
numpy